.MainLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.MainContent {
  display: flex;
  flex: 1;
  width: 100%;
}

.MainLayoutFooter {
  display: flex;
  align-items: center;
  background: #b69696;
  padding: 10px;
}