.NavigationContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.Navigation {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.NavigationItem {
  color: #282c34;
  text-decoration: none;
}

.NavigationItemActive {
  color: #61dafb;
  text-decoration: underline;
}